.ContactForm__for_container {
    margin: auto;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 3px;
    background: #ccc;
    /* box-shadow: 1px 5px 18px #888888; */
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(224,224,224,0.47) 14%, rgba(219,219,219,0.47) 50%, rgba(209,209,209,0.47) 51%, rgba(254,254,254,0.47) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(14%, rgba(224,224,224,0.47)), color-stop(50%, rgba(219,219,219,0.47)), color-stop(51%, rgba(209,209,209,0.47)), color-stop(100%, rgba(254,254,254,0.47)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(224,224,224,0.47) 14%, rgba(219,219,219,0.47) 50%, rgba(209,209,209,0.47) 51%, rgba(254,254,254,0.47) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(224,224,224,0.47) 14%, rgba(219,219,219,0.47) 50%, rgba(209,209,209,0.47) 51%, rgba(254,254,254,0.47) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(224,224,224,0.47) 14%, rgba(219,219,219,0.47) 50%, rgba(209,209,209,0.47) 51%, rgba(254,254,254,0.47) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(224,224,224,0.47) 14%, rgba(219,219,219,0.47) 50%, rgba(209,209,209,0.47) 51%, rgba(254,254,254,0.47) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

.ContactForm__for_container label {
    width: 85%;
    margin: auto;
    font-size: 1.1rem;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.ContactForm__for_container input {
    font-size: 1rem;
    display: block;
    margin-left: 10%;
    width: 60%;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px #ccc;
}

.ContactForm__for_container input:focus {
    border: 1px solid #4286f4;
}

.ContactForm__for_container textarea {
    font-size: 1.1rem;
    display: block;
    margin: auto;
    width: 80%;
    height: 300px;
    outline: none;
    border: 0px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
}

.ContactForm__for_container textarea:focus {
    border: 1px solid #4286f4;
}

.ContactForm__hr {
    border : 0;
    height : 1px;
    background: #ccc;
    margin : 1em 0;
}

.ContactForm__required {
    color: red;
    font-weight: 100;
}


.ContactForm__submit_button {
    border: 0px solid #ccc;
    color: #404040;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 0px;
    font-weight: 300;
    font-size: .9rem;
    background: #47d147;
    box-shadow: 1px 1px 1px #ccc;
}

.ContactForm__submit_button:disabled {
    background: none;
    border: 1px solid #ccc;
    cursor: none;
}

.ContactForm__submit_button:disabled:hover {
    background: none;
    color: black;
    cursor: not-allowed;
}

.ContactForm__submit_button:hover {
    background: #4d4d4d;;
    color: white;
}

@media (max-width: 600px) {
    .ContactForm__for_container input {
        width: 95%;
        margin: auto;
    }

    .ContactForm__for_container label {
        width: 100%;
    }


    .ContactForm__for_container textarea {
        width:100%;
    }
}