.contactMsg__message_container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 
        0 1px 4px rgba(0,0,0,.5), 
        0 1px 1px rgba(0,0,0,.4), 
        0 0 0px rgba(0,0,0,.7) inset, 
        0 10px 0px rgba(255,255,255,.11) inset; 
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.contactMsg__message_container .msg_label {
    font-weight: bold;
}

.contactMsg__message_container .msg_text {
    padding: 16px;
}

.contactMsg__action_button {
    border:0px;
    font-size: .8rem;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    margin-top: 10px;
    display: inline-block;
}

.contactMsg__delete_button {
    color: white;
    /* background: rgb(215, 85, 80, .3) */
    background: -webkit-linear-gradient(top, #FF6969 0%,#ff0000 100%);
    box-shadow: 
    0 0px 0px rgba(0,0,0,.5),
    0 0px 0px rgba(0,0,0,.5),
    0 0 1px rgba(0,0,0,.7) inset,
    0 10px 0px rgba(255,255,255,.11) inset; 
}

.contactMsg__delete_button:hover {
    background: #ff0000;
    color: white;
    cursor: pointer;
}

.contactMsg__read_button {
    color: white;
    background: -webkit-linear-gradient(top, #6ea3f7 0%,#4286f4 100%); 
    box-shadow: 
    0 0px 0px rgba(0,0,0,.5),
    0 0px 0px rgba(0,0,0,.5),
    0 0 1px rgba(0,0,0,.7) inset,
    0 10px 0px rgba(255,255,255,.11) inset; 
}

.contactMsg__read_button:hover {
    color: white; 
    cursor: pointer;
    background: #4286f4;
}

.contactMsg__reply_button {
    background: -webkit-linear-gradient(top, #6ea3f7 0%,#4286f4 100%); 
    box-shadow: 
        0 0px 0px rgba(0,0,0,.5),
        0 0px 0px rgba(0,0,0,.5),
        0 0 1px rgba(0,0,0,.7) inset,
        0 10px 0px rgba(255,255,255,.11) inset; 
    color: white;
}

.contactMsg__reply_button:hover {
    background: #4286f4;
    color: white;
    cursor: pointer;
}

/* .contactMsg__alert {
    position: absolute;
    right: -10px;
    top: -30px;
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background: #D75550;
    color: white;
} */

@media (max-width: 500px) {
    .contactMsg__message_container {
        width: 100%;
    }
}