.top-drawer {
  /* background: white; */
  /* box-shadow: 1px 0px 7px rgba(0,0,0, 0.5); */
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  max-width: 30%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.top-drawer.open {
  transform: translateX(0)
}

.top-drawer ul {
  list-style: none;
  height: 100%;
  padding-left: 0px;
  padding-top: 100px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.top-drawer li {
  margin: 0.5rem 0;
  padding: 10px 0px;
  background-color: #DA1C5C;
  border-radius: 0 10px 10px 0;
  text-align: center;
}

.top-drawer a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.top-drawer a:hover, 
.top-drawer a:active {
  color: #DA1C5C;
}

@media (min-width: 769px) {
  .top-drawer {
    display: none;
  }
}