.ControlPanel__slideout {
    position: fixed;
    top: 200px;
    right: 0px;
    height: 50px;
    width: 15px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #ccc;
    box-shadow: 
        0 0px 0px rgba(0,0,0,.5),
        0 0px 0px rgba(0,0,0,.5),
        0 0 1px rgba(0,0,0,.7) inset,
        0 10px 0px rgba(255,255,255,.11) inset; 
    border-radius: 10px 0px 0px 10px;
    z-index: 99;
}

.ControlPanel__slideout_inner a {
    color: #4286f4;
    text-decoration: none;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.ControlPanel__slideout_inner a:hover {
    color: #2674f2;
    text-decoration: none;
    padding: 5px;
}

.ControlPanel__slideout_inner {
    box-shadow: 
        0 0px 0px rgba(0,0,0,.5),
        0 0px 0px rgba(0,0,0,.5),
        0 0 1px rgba(0,0,0,.7) inset,
        0 10px 0px rgba(255,255,255,.11) inset; 
    background: #ccc;
    position: fixed;
    top: 200px;
    height: 50px;
    width: 250px;
    right: -250px;  
    line-height: 50px;
    border-radius: 10px 0px 0px 10px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 99;
}

.ControlPanel__slideout_inner div {
    padding-left: 10px;
    z-index: 99;
}

.ControlPanel__slideout:hover {
    right: 200px;
    z-index: 99;
}

.ControlPanel__slideout:hover .ControlPanel__slideout_inner {
    right: 0;
    z-index: 99;
}