.toolbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  /* background: yellow; */
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  height: 100%;
  margin: 100px;
}

.toolbar__logo img {
  position: absolute;
  left: 0;
  top: 0;
  height: 86px;
  width: auto;
  padding: 16px;
  padding-left: 0px;
  padding: 20px;
}

.toolbar__logo a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 1.5rem;
}

.center__spacer {
  flex: 1;
}

#beta_label {
  display: block;
  font-family: 'Spicy Rice', cursive;
  font-size: 1.6rem;
  color:  #2EA399;
  transform: rotate(15deg);
}

.toolbar__navigation__items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigation__items li {
  padding: 0 1rem;
}

.toolbar__navigation__items a,
.menu_login_link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #4d4d4d;
  text-decoration: none;
  font-size: 1.8rem;
  padding-bottom: 5px;
}

.menu_login_link:hover {
  color:  #2EA399;
  cursor: pointer;
}

.toolbar__navigation__items a:hover,
.toolbar__navigation__items a:active,
.toolbar__navigation__items a.active {
  color:  #2EA399;
}

.toolbar__navigation__items a.active {
  border-bottom: 2px solid  #2EA399;
}

.toolbar__navigation__items.active {
  border-bottom: '2px solid #DA1C5C';
}


@media (max-width: 768px) {
  .toolbar__navigation__items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    /* margin-left: 0; */
    margin: 100px;
  }
}