    /* background: #DA1C5C; */

.homepage__container {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: relative;
}

.home__logo {
    width: 40%;
    margin: auto;
}

@media (max-width: 600px) {
    .home__logo {
        width: 80%;
    }
}