.AllSyncs {
    margin: auto;
  }
  
.AllSyncs:first-child {
  margin-top: 86px;
}

.AllPostsContainer {
  padding-left: 10px;
  margin-bottom: 100px;
  width: 80%;
  margin: auto;
}


/* THE EDIT MODE SWITCH */
.allposts__edit_switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.allposts__edit_switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #D75550;
}

input:focus + .slider {
  box-shadow: 0 0 1px #D75550;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.allposts__edit_slider_label {
  font-family: 'Montserrat', sans-serif;
}

.allPosts__tag_filter_dropdown {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: 0px;
  border-radius: 0px;
  outline: 1px;
  background: #ccc;
  color:#555;
  /* box-shadow: 0 0 1px #ccc; */
}

.allPosts__tag_filter_dropdown option {
  padding: 5px;
}

/* MOBILE */
@media (max-width: 768px) {
  .AllPostsContainer {
    padding: 0px;
    width: 100%;
  }
}
