.AllSyncs {
    margin: auto;
  }
  
.AllSyncs:first-child {
  margin-top: 86px;
}

.AllPostsContainer {
  padding-left: 10px;
}


/* MOBILE */
@media (max-width: 768px) {
  .AllPostsContainer {
    padding: 0px;
  }
}