/* CSS THAT CONTROLS EACH INDIVIDUAL POST THAT IS SHOWN ON THE ALL POSTS PAGE*/

/* DESKTOP */
.Courier {
    font-family: Courier;
  }
  
  .tab {
    padding-left: 20px;
  }
  
  .bold {
    font-weight: 600;
  }
  
  .Sync {
    position: relative;
    display: flex;
    flex-direction: row;
    /* border: 1px solid grey; */
    color: #4d4d4d;
    border-radius: 2px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }
  
  .Sync h1:hover {
    color: #2EA399;
    cursor: pointer;
      -webkit-transition: color 500ms linear;
      -ms-transition: color 500ms linear;
      transition: color 500ms linear;
  }
  
  .Sync h1:first-of-type {
    margin: 0px;
  }

  .Sync h1 {
    font-size: 1.8rem;
  }

  .Sync p {
    font-size: 1.3rem;
  }

  .sync__main__info:first-of-type {
    margin-top: 32px;
  }
  
  .sync__main__info {
    display: block;
    /* background: white; */
    width: 50%;
  }

  .sync__main__info h3 {
    padding: 0px;
    margin: 0px;
    /* margin-top: 16px; */
  }

  .Sync h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .Sync h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  
  .sync__main__info p {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.2rem; */
    line-height: 130%;
    letter-spacing: .03rem;
    margin: 0px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .sync__main__info a,
  .sync__main__info a:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    text-decoration: none;
    color: #4d4d4d;
  }
  
  .sync__main__info a:hover {
    color: #DA1C5C;
    cursor: pointer;
  }

  .sync__date__desktop {
    margin-right: 20px;
    margin-top: 5px;
    
  }
  
  .sync__date__desktop p{
    margin: 0px;
    padding:0px;

  }
  
  .sync__date__mobile {
    display: none;
  }
  
  .sync__date__desktop .date {
    text-align: center;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    /* background: #3C3C3E; */
    color: #3C3C3E;
  }
  
  .sync__date__desktop .month {
    text-align: center;
    font-size: 1.5rem;
    /* border: 1px solid grey; */
    /* border-radius: 3px 3px 0 0; */
    padding: 5px;
    background: #2EA399;
    color: white;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
  }
  
  .sync__date__desktop .year {
    text-align: center;
    font-size: 1rem;
    padding: 3px;
    /* background: #3C3C3E; */
    color: #3C3C3E;
  }
  
  .MOBILE_ONLY {
    display: none;
  }

  .posts__post_details_container {
    /* border-radius: 1px;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey; */
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    margin: 16px 0px;
    background: white;
    /* box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4); */
  }

  .tag_block {
    display: inline-block;
    font-size: .8rem;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 5px;
    /* border: 1px solid #ccc; */
    background-color:#F2F2F1;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
  }

  .tag_block:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
  }

  .post__delete_post_button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #D75550;
    padding-left: 20px;
    font-size: 1rem;
    /* float: right; */
    border: 1px solid #D75550;
    padding: 1px 10px;
    border-radius: 5px;
    vertical-align: top;
    float: right;
    margin: 5px;
  }

  .post__edit_post_button {
    color: #2EA399;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding-left: 20px;
    font-size: 1rem;
    /* float: right; */
    border: 1px solid #2EA399;
    padding: 1px 10px;
    border-radius: 5px;
    vertical-align: top;
    margin: 5px;
  }

  .post__edit_post_button:hover {
    background: #2EA399;
    color: white;
    cursor: pointer;
  }

  .post__delete_post_button:hover {
    background: #D75550;
    color: white;
    cursor: pointer;
  }

  .sync__main__info {
    width: 100%;
  }
  
  /* MOBILE ANYTHING SMALLER THAN 768*/
  @media (max-width: 768px) {
  
    .MOBILE_ONLY {
      display: inline-block;
    }
  
    .sync__main__info {
      border-left: 0px;
      padding: 0px;
      margin-left: 0px;
      width: 100%;
      padding: 10px;
    }
  
    .sync__date__desktop {
      display: none;
    }
  
    .Sync {
      width: 100%;
    }
  
    .sync__date__mobile {
      /* display: inline-block; */
      display: none;
      color: #2EA399;
      padding-left: 5px;
    }
  }