/* DESKTOP */
.Courier {
  font-family: Courier;
}

.tab {
  padding-left: 20px;
}

.bold {
  font-weight: 600;
}

.Sync {
  position: relative;
  display: flex;
  flex-direction: row;
  /* border: 1px solid grey; */
  color: #4d4d4d;
  border-radius: 2px;
  width: 80%;
  margin: auto;
  margin-top: 56px;
}

.Sync:hover {
  background-color: rgba(218, 28, 92, .1);
  cursor: pointer;
  border-radius: 5px;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.Sync h1:first-of-type {
  margin-top: -16px;
}

.sync__main__info {
  border-left: 2px solid #DA1C5C;
  padding: 16px;
  margin-left: 8px;
}

.sync__main__info .tags {
  font-weight: 600;
}

.Sync h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
}

.Sync h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.sync__main__info p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 130%;
  letter-spacing: .03rem;
}

.sync__main__info a,
.sync__main__info a:visited {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  text-decoration: none;
  color: #4d4d4d;
}

.sync__main__info a:hover {
  color: #DA1C5C;
  cursor: pointer;
}

.sync__date__desktop {
  /* border: 1px solid grey; */
  border-radius: 5px;
  align-self: flex-start;
  padding: 8px;
}


.sync__date__desktop p{
  margin: 0px;
  padding:0px;
}

.sync__date__mobile {
  display: none;
}

.sync__date__desktop .date {
  text-align: center;
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
}

.sync__date__desktop .month {
  text-align: center;
  font-size: 1.5rem;
  /* border: 1px solid grey; */
  border-radius: 3px 3px 0 0;
  padding: 3px;
  background: #DA1C5C;
  color: white;
}

.sync__date__desktop .year {
  text-align: center;
  font-size: 1rem;

  border-radius: 0 0 3px 3px;
  padding: 3px;
}

/* MOBILE */
@media (max-width: 768px) {
  .sync__main__info {
    border-left: 0px;
    padding: 0px;
    margin-left: 0px;
  }

  .sync__main__info h1 {
    /* display: inline-block; */
    border-top: 2px solid #DA1C5C;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .sync__date__desktop {
    display: none;
  }

  .Sync {
    width: 100%;
  }

  .sync__date__mobile {
    display: inline-block;
    font-size: 1rem;
  }

  
}