body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: AliceBlue;
}

main {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 90%;
  max-width:1200px;
  margin: auto;
  margin-top: 36px;
  background-color: dodgerblue;
}
