body {
  margin: 0px;
  padding: 16px;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  max-width:1200px;
  margin: auto;
  margin-top: 56px;
  /* background-color: dodgerblue; */
}

@media (max-width: 768px) {
  /* main {
    width: 100%;
    background: dodgerblue;
  } */
}
